<h2>Create Post</h2>
<br/>
<form action="/entries" method="post">
  <p>
    <label for="author">Author:</label>
    <input id="author" name="entry[author]" type="text">
  </p>
  <p>
    <label for="photo_url">Photo URL:</label>
    <input id="photo_url" name="entry[photo_url]" type="text">
  </p>
  <button type="submit">Submit</button>
</form>
